STDINCLUDE := -Iinclude -Iinclude/libc

LIBS_DIR := lib
LIBS_BUILD_DIR := $(call TOBUILDDIR, lib)
LIBS := $(addprefix $(LIBS_BUILD_DIR)/, \
	glue/glue.o \
	glue/libglue.o \
	libm/libm.so \
	libm/libm.a \
	libc/libc.so \
	libc/libc.a \
	klibc/klibc.o \
)	
LIBGLUE := $(LIBS_BUILD_DIR)/glue/libglue.o
LIBS_LDSCRIPT := $(LIBS_DIR)/ldscripts/$(ARCH)/library.ld
LIBC := $(LIBS_BUILD_DIR)/libc/libc.so
LIBC_STATIC := $(LIBS_BUILD_DIR)/libc/libc.a
#$(warning LIBS = $(LIBS))

KERNEL_DIR := kernel
KERNEL_BUILD_DIR := $(call TOBUILDDIR, kernel)
KERNEL := $(KERNEL_BUILD_DIR)/kernel
LIBKERNEL := $(KERNEL_BUILD_DIR)/kernel.so
KLIBS := $(LIBS_BUILD_DIR)/klibc/klibc.o
KERNEL_CFLAGS := $(KERNEL_CFLAGS) -DKERNEL=1 -DDEBUG=1
#$(warning KERNEL = $(KERNEL))

KERNEL_ADDONS_DIR := kernel/addons
KERNEL_ADDONS_BUILD_DIR := $(KERNEL_BUILD_DIR)/addons
KERNEL_ADDONS := $(addprefix $(KERNEL_ADDONS_BUILD_DIR)/, \
	fs/iso9660/iso9660 \
	fs/zfs/zfs \
	bus_managers/isa/isa \
	busses/ide/ide_isa/ide_isa \
	bus_managers/ide/ide \
	bus_managers/scsi/scsi \
	generic/locked_pool/locked_pool \
	generic/scsi_periph/scsi_periph \
	dev/disk/scsi/scsi_dsk/scsi_dsk \
	generic/blkman/blkman \
)

APPS_DIR := apps
APPS_BUILD_DIR := $(call TOBUILDDIR, apps)
APPS_LDSCRIPT = $(APPS_DIR)/ldscripts/$(ARCH)/app.ld
APPSGLUE := $(LIBS_BUILD_DIR)/glue/glue.o
APPS := $(addprefix $(APPS_BUILD_DIR)/, \
	false/false \
	fibo/fibo \
	fortune/fortune \
	init/init \
	ls/ls \
	mount/mount \
	rld/rld.so \
	rldtest/rldtest \
	shell/shell \
	testapp/testapp \
	true/true \
	unmount/unmount \
	vmtest/vmtest \
	rm/rm\
	ps/ps \
	top/top \
)
ULIBS := \
	$(LIBS_BUILD_DIR)/libm/libm.so \
	$(LIBS_BUILD_DIR)/libc/libc.so
ULIB_PATHS :=
#$(warning APPS = $(APPS))

STATICFILES_DIR := $(call TOBUILDDIR, static)
STATICFILES := $(addprefix $(STATICFILES_DIR)/, \
)

FINAL := $(call TOBUILDDIR, final)
#$(warning FINAL = $(FINAL))

include make.config.$(ARCH)

ALL := \
	$(KERNEL) \
	$(KERNEL_ADDONS) \
	$(APPS) \
	$(LIBS)

#$(warning ALL = $(ALL))

