# vim: syntax=make
STDINCLUDE := -Iinclude $(LIBGCC_INCLUDE)
GLOBAL_COMPILEFLAGS := $(GLOBAL_COMPILEFLAGS) -include include/newos/sysconfig.h

LIBS_DIR := lib
LIBS_BUILD_DIR := $(call TOBUILDDIR, lib)
LIBS := $(addprefix $(LIBS_BUILD_DIR)/, \
	glue.o \
	libglue.o \
	libc.so \
	libc.a \
	libm.so \
	libm.a \
	libnewos.so \
	libnewos.a \
	libsocket.so \
	libsocket.a \
	klibc.o \
)	
LIBGLUE := $(LIBS_BUILD_DIR)/libglue.o
LIBS_LDSCRIPT := $(LIBS_DIR)/ldscripts/$(ARCH)/library.ld
LIBC := $(LIBS_BUILD_DIR)/libc.so
LIBC_STATIC := $(LIBS_BUILD_DIR)/libc.a
LIBNEWOS_STATIC := $(LIBS_BUILD_DIR)/libnewos.a
#$(warning LIBS = $(LIBS))

# stuff that will not build for now
__DISABLE := \
	libwin.so \
	libwin.a \

KERNEL_DIR := kernel
KERNEL_BUILD_DIR := $(call TOBUILDDIR, kernel)
KERNEL := $(KERNEL_BUILD_DIR)/kernel
LIBKERNEL := $(KERNEL_BUILD_DIR)/kernel.so
KLIBS := $(LIBS_BUILD_DIR)/klibc.o
KERNEL_COMPILEFLAGS := $(KERNEL_COMPILEFLAGS) -D_KERNEL=1
#$(warning KERNEL = $(KERNEL))

KERNEL_ADDONS_DIR := kernel/addons
KERNEL_ADDONS_BUILD_DIR := $(KERNEL_BUILD_DIR)/addons
KERNEL_ADDONS := $(addprefix $(KERNEL_ADDONS_BUILD_DIR)/, \
	fs/fat/fat \
	fs/iso9660/iso9660 \
	fs/nfs/nfs \
	fs/zfs/zfs \
	dev/tty/tty \
	dev/console/console \
)

APPS_DIR := apps
APPS_BUILD_DIR := $(call TOBUILDDIR, apps)
APPS_LDSCRIPT = $(APPS_DIR)/ldscripts/$(ARCH)/app.ld
APPSGLUE := $(LIBS_BUILD_DIR)/glue.o
APPS := $(addprefix $(APPS_BUILD_DIR)/, \
	false/false \
	fibo/fibo \
	fortune/fortune \
	init/init \
	ls/ls \
	mount/mount \
	rld/rld.so \
	rldtest/rldtest \
	shell/shell \
	test_output/test_output \
	test_input/test_input \
	test_time/test_time \
	true/true \
	unmount/unmount \
	vmtest/vmtest \
	vtcolors/vtcolors \
	rm/rm\
	ps/ps \
	kill/kill \
	top/top \
	netcfg/netcfg \
	nettest/nettest \
	consoled/consoled \
	socketd/socketd \
	telnetd/telnetd \
	disktest/disktest \
	vmstat/vmstat \
	sleep/sleep \
	static/static \
)

# stuff that will not build for now
__DISABLE := \
	cpptest/cpptest \
	testapp/testapp \
	irc/irc \
	inputd/inputd \
	window_server/window_server \
	guiapp/guiapp \

$(APPS):: $(LIBS)

ULIB_PATHS :=
#$(warning APPS = $(APPS))

STATICFILES_DIR := $(call TOBUILDDIR, static)
STATICFILES := $(addprefix $(STATICFILES_DIR)/, \
)

ALL_LIST = \
	$(KERNEL) \
	$(KERNEL_ADDONS) \
	$(APPS) \
	$(LIBS)

-include config/arch/make.config.$(ARCH)
-include config/platform/make.config.$(PLATFORM)
-include config/target/make.config.$(TARGET)

ALL := \
	$(ALL_LIST)

#$(warning ALL = $(ALL))

